<h1> hi </h1>
<% @workouts.each do |workout| %>
<h2><%= link_to workout.workout, workout_path(workout) %></h2>
<p><%= workout.date %></p>
<% end %>

<h5><%= link_to "Create a routine", new_workout_path %></h5>